<section class="flex h-screen overflow-hidden bg-slate-50 dark:bg-slate-950 text-slate-800 dark:text-slate-100">
  @if (router.url !== '/login') {
    <app-navbar></app-navbar>
  }
  <div class="flex flex-col flex-1 min-w-0 h-screen overflow-hidden">
    @if (router.url !== '/login') {
      <app-header></app-header>
    }
    <main class="flex-1 overflow-y-auto" [ngClass]="{'p-4 sm:p-6 lg:p-8 mb-16 md:mb-0': router.url !== '/login'}">
      <div class="max-w-7xl mx-auto w-full">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</section>