<form (ngSubmit)="guardarConsulta()">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div>
            <label class="block text-sm font-medium text-gray-700 dark:text-gray-300">Motivo</label>
            <input type="text" [(ngModel)]="historiaClinica.motivo_consulta"  name="motivo" class="mt-1 w-full border border-gray-300 dark:text-gray-100 rounded-lg px-3 py-2" required>
        </div>
        <div>
            <label class="block text-sm font-medium text-gray-700 dark:text-gray-300">Diagnóstico</label>
            <input type="text" [(ngModel)]="historiaClinica.diagnostico" name="diagnostico" class="mt-1 w-full border border-gray-300 dark:text-gray-100 rounded-lg px-3 py-2" required>
        </div>
        <div>
            <label class="block text-sm font-medium text-gray-700 dark:text-gray-300">Tratamiento</label>
            <input type="text" [(ngModel)]="historiaClinica.tratamiento" name="tratamiento" class="mt-1 w-full border border-gray-300 dark:text-gray-100 rounded-lg px-3 py-2" required>
        </div>
        <div>
            <label class="block text-sm font-medium text-gray-700 dark:text-gray-300">Observaciones</label>
            <input type="text" [(ngModel)]="historiaClinica.observaciones" name="observaciones" class="mt-1 w-full border border-gray-300 dark:text-gray-100 rounded-lg px-3 py-2">
        </div>
        <div>
            <label class="block text-sm font-medium text-gray-700 dark:text-gray-300">Fecha</label>
            <input
                type="date"
                [max]="hoy"
                [(ngModel)]="historiaClinica.fecha"
                name="fecha"
                class="mt-1 w-full border border-gray-300 dark:text-gray-100 rounded-lg px-3 py-2"
            >
        </div>
        <div>
            <label class="block text-sm font-medium text-gray-700 dark:text-gray-300">Parámetros Clínicos</label>
            @for (parametro of parametros; track parametro){
                <div class="flex space-x-2 items-center">
                    <input
                        [(ngModel)]="parametro.nombre"
                        name="nombreParametro{{ $index }}"
                        class="mt-1 border border-gray-300 dark:text-gray-100 rounded-lg px-3 py-2 w-1/2"
                        placeholder="Parámetro (ej: Glucosa)"
                    />
                    <input
                        [(ngModel)]="parametro.valor"
                        name="valorParametro{{ $index }}"
                        class="mt-1 border border-gray-300 dark:text-gray-100 rounded-lg px-3 py-2 w-1/2"
                        placeholder="Valor (ej: 110 mg/dL)"
                    />
                    <button type="button" (click)="eliminarParametro($index)" class="text-red-500 material-symbols-outlined">delete</button>
                </div>
            }
            <button type="button" (click)="agregarParametro()" class="mt-2 text-sm text-blue-500 hover:underline">
                + Agregar parámetro
            </button>
        </div>
    </div>
    <div class="flex justify-end mt-4">
        <button type="submit" class="bg-green-600 text-white px-4 py-2 rounded-lg hover:bg-green-700 transition">
            {{ title }}
        </button>
    </div>
</form>