<div class="flex flex-col space-x-4 p-4 md:px-0">
  @if(this.idPaciente != ''){
    <a routerLink="/pacientes/{{idPaciente}}" class="group flex items-center text-blue-500">
        <span class="material-symbols-outlined mr-1 transition-transform duration-200 ease-in-out group-hover:-translate-x-1">arrow_back</span>
        Volver
    </a>
  } @else {
    <a routerLink="/pacientes" class="group flex items-center text-blue-500">
      <span class="material-symbols-outlined mr-1 transition-transform duration-200 ease-in-out group-hover:-translate-x-1">arrow_back</span>
      Volver
    </a>
  }
  <h1 class="text-4xl font-semibold dark:text-gray-100">{{ title }}</h1>
</div>

<section class="p-4 md:px-0">

  <form (ngSubmit)="guardarPaciente()" class="grid grid-cols-1 sm:grid-cols-2 gap-4 p-4 bg-white dark:bg-gray-700 rounded-lg dark:text-gray-100 shadow">
    <div>
      <label class="text-sm text-gray-500 dark:text-gray-300">Nombre *</label>
      <input type="text" [(ngModel)]="paciente.nombre" name="nombre" class="w-full border p-2 rounded-lg dark:text-gray-100" required>
    </div>
  
    <div>
      <label class="text-sm text-gray-500 dark:text-gray-300">Apellido *</label>
      <input type="text" [(ngModel)]="paciente.apellido" name="apellido" class="w-full border p-2 rounded-lg dark:text-gray-100" required>
    </div>
  
    <div>
      <label class="text-sm text-gray-500 dark:text-gray-300">Género *</label>
      <select [(ngModel)]="paciente.genero" name="genero" class="w-full border p-2 rounded-lg dark:text-gray-100 dark:bg-gray-700" required>
        <option value="">Seleccione</option>
        <option value="Masculino">Masculino</option>
        <option value="Femenino">Femenino</option>
        <option value="Otro">Otro</option>
      </select>
    </div>
  
    <div>
      <label class="text-sm text-gray-500 dark:text-gray-300">DNI *</label>
      <input type="text" [(ngModel)]="paciente.dni" name="dni" class="w-full border p-2 rounded-lg dark:text-gray-100" required>
    </div>
  
    <div>
      <label class="text-sm text-gray-500 dark:text-gray-300">Fecha de Nacimiento *</label>
      <input type="date" [(ngModel)]="paciente.fechaNacimiento" [max]="hoy" name="fechaNacimiento" class="w-full border p-2 rounded-lg dark:text-gray-100" required>
    </div>
  
    <div>
      <label class="text-sm text-gray-500 dark:text-gray-300">Teléfono</label>
      <input type="text" [(ngModel)]="paciente.telefono" name="telefono" class="w-full border p-2 rounded-lg dark:text-gray-100">
    </div>
  
    <div>
      <label class="text-sm text-gray-500 dark:text-gray-300">Email</label>
      <input type="email" [(ngModel)]="paciente.email" name="email" class="w-full border p-2 rounded-lg dark:text-gray-100">
    </div>
  
    <div>
      <label class="text-sm text-gray-500 dark:text-gray-300">Dirección</label>
      <input type="text" [(ngModel)]="paciente.direccion" name="direccion" class="w-full border p-2 rounded-lg dark:text-gray-100">
    </div>
  
    <div class="col-span-full mt-4">
      <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white px-4 py-2 rounded-lg dark:text-gray-100">
        Guardar Paciente
      </button>
    </div>
  </form>
</section>