<section class="space-y-6" *ngIf="historialClinico.length>0 else noConsultas">
    <h3 class="text-xl font-semibold text-gray-800">Historia Clínica</h3>
    <div *ngFor="let consulta of historialClinico" class="border rounded-lg p-4 space-y-2">
        <div class="flex justify-between items-center">
            <p class="text-gray-600 font-semibold">Consulta del {{ consulta.fecha | date:'dd/MM/yyyy' }}</p>
        </div>
    
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 text-gray-700">
            <div>
                <p class="text-sm text-gray-500">Motivo</p>
                <p class="font-medium">{{ consulta.motivo_consulta }}</p>
            </div>
            <div>
                <p class="text-sm text-gray-500">Diagnóstico</p>
                <p class="font-medium">{{ consulta.diagnostico }}</p>
            </div>
            <div>
                <p class="text-sm text-gray-500">Tratamiento</p>
                <p class="font-medium">{{ consulta.tratamiento }}</p>
            </div>
            <div>
                <p class="text-sm text-gray-500">Observaciones</p>
                <p class="font-medium">{{ consulta.observaciones }}</p>
            </div>
        </div>
    
        <!-- Archivos adjuntos -->
        <app-archivos-adjuntos [idHistoriaClinica]="consulta.idHistoriaClinica" class="pt-2"></app-archivos-adjuntos>
    </div>
</section>
<ng-template #noConsultas>
    <p class="text-gray-400 text-center">{{ mensaje }}</p>
</ng-template>