<div class="bg-white dark:bg-gray-800 text-gray-900 dark:text-gray-100 p-4 rounded-xl shadow w-full h-full">
  @if (verTodasLink) {
    <div class="flex flex-row justify-between items-center mb-2">
      <p class="text-lg font-semibold">{{ titulo }}</p>
      <a [routerLink]="verTodasLink" class="text-blue-500 font-bold hover:underline">Ver Todas</a>
    </div>
  }
  @if (!verTodasLink) {
    <p class="text-lg font-semibold mb-2">{{ titulo }}</p>
  }

  <ul>
    @for (item of items; track item) {
      <li class="grid grid-cols-[2fr_1fr_1fr] items-center py-2 gap-4">
        <p>{{ item[labelField] }}</p>
        <p class="text-center">{{ item[dateField] | date:'dd-MM-yyyy' }}</p>

        @if (item.idPaciente) {
          <a [routerLink]="[linkBase, item.idPaciente]" class="text-right">
            <span class="material-symbols-outlined hover:text-blue-600">{{ icon }}</span>
          </a>
        } @else {
          <a 
            [href]="linkBase + (item._id + '-' + item.name)" 
            target="_blank" 
            class="text-right">
            <span class="material-symbols-outlined hover:text-blue-600">{{ icon }}</span>
          </a>
        }
      </li>
    }
  </ul>

</div>
