<div class="flex flex-col md:flex-row justify-between items-center p-5 gap-4">
  <h1 class="text-5xl font-medium">Listado de Pacientes</h1>

  <div class="flex flex-col sm:flex-row gap-2 w-full sm:w-auto">
    <input type="text" placeholder="Buscar por nombre o DNI..."
    class="w-full sm:w-64 px-4 py-2 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500"
    [(ngModel)]="terminoBusqueda" (ngModelChange)="buscarPacientes()">
    <a class="bg-blue-600 text-white text-center px-4 py-2 rounded-lg hover:bg-blue-700 transition" routerLink="/agregar-paciente">
      + Nuevo Paciente
    </a>
  </div>
</div>

  <!-- Tabla de pacientes -->
  @if (pacientes.length > 0) {
    <div class="p-4 bg-white rounded-lg shadow-md">
      <div
        class="overflow-y-auto max-h-[85vh]"
        infiniteScroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="200"
        (scrolled)="cargarPacientes()"
        [scrollWindow]="false"
        >
        <table class="min-w-full border-collapse border border-gray-300">
          <thead class=" text-gray-700 font-extrabold uppercase text-xs">
            <tr>
              <th class="px-6 py-3">#</th>
              <th class="px-6 py-3">Nombre</th>
              <th class="px-6 py-3">DNI</th>
              <th class="px-6 py-3">Género</th>
              <th class="px-6 py-3">Edad</th>
              <th class="px-6 py-3 text-center">Historia</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-100">
            @for (paciente of pacientes ; track paciente; let i = $index) {
              <tr class="w-full table-fixed">
                <td class="px-6 py-4">{{ i + 1 }}</td>
                <td class="px-6 py-4 whitespace-nowrap">{{ paciente?.nombre }}, {{ paciente?.apellido }}</td>
                <td class="px-6 py-4">{{ paciente?.dni }}</td>
                <td class="px-6 py-4">{{ paciente?.genero }}</td>
                <td class="px-6 py-4">{{ paciente?.fechaNacimiento ? calcularEdad(paciente?.fechaNacimiento) : 'N/A' }}</td>
                <td class="px-6 py-4 flex justify-center gap-3 text-sm">
                  <button [routerLink]="['/pacientes', paciente.idPaciente]" class="text-blue-600 hover:underline"><span class="material-symbols-outlined">lab_profile</span></button>
                </td>
              </tr>
            }
            @if (cargando) {
              <tr>
                <td colspan="6" class="text-center py-3 text-blue-500">Cargando más pacientes...</td>
              </tr>
            }
            @if (finalDeLista && pacientes.length > 0) {
              <tr>
                <td colspan="6" class="text-center py-3 text-gray-400">No hay más pacientes.</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  } @else {
    <p class="text-center text-gray-500">
      Error al cargar pacientes.<br>{{ error }}
    </p>
  }

