<section class="p-5">
    <h1 class="text-5xl font-medium">Bienvenido, {{ nombre }}</h1>
</section>

<!-- Top Cards -->
<!-- Top Cards -->
<section class="flex justify-between gap-4 w-full p-4">
  <app-top-card [value]="totalPacientes" label="Pacientes" icon="person" class="w-1/3"></app-top-card>
  <app-top-card [value]="totalConsultas" label="Historias Clínicas" icon="folder_open" class="w-1/3"></app-top-card>
  <app-top-card [value]="totalArchivos" label="Archivos" icon="description" class="w-1/3"></app-top-card>
</section>

<!-- Gráfico + Paciente -->
<div class="flex flex-col md:flex-row gap-4 p-4 w-full">
    <!-- Gráfico  -->
    <div class="flex-1 bg-white p-4 rounded-xl shadow">
        <app-grafico [estadisticas]="dashboard.statsUltimos7Dias"></app-grafico>
    </div>

    <!-- Último paciente -->
    <div class="md:w-[33.2%] flex flex-col justify-between bg-blue-600 text-white p-4 rounded-xl shadow">
        <div>
            <p class="text-blue-100">Último Paciente</p>
            <h3 class="text-xl font-bold">{{ dashboard.ultimoPaciente?.apellido }} {{ dashboard.ultimoPaciente?.nombre }}</h3>
            <p class="text-blue-100">{{ dashboard.ultimoPaciente?.dni }}</p>
        </div>

        <div class="flex justify-center items-center my-4">
            <img src="https://ui-avatars.com/api/?name={{dashboard.ultimoPaciente?.apellido}}+{{dashboard.ultimoPaciente?.nombre}}&background=155dfc&color=FAFAFA&rounded=true" class="w-40 h-40 rounded-full border-2 border-white shadow-md">
        </div>

        <div class="space-y-1">
            <p><strong>Edad:</strong> {{ calcularEdad(dashboard.ultimoPaciente?.fechaNacimiento) }}</p>
            <p><strong>Género:</strong> {{ dashboard.ultimoPaciente?.genero }}</p>
            <p><strong>Visita:</strong> {{ dashboard.ultimoPaciente?.ultima_visita| date: "dd/MM/y" }}</p>
            <button [routerLink]="['/pacientes', dashboard.ultimoPaciente?.idPaciente]"
            class="mt-4 inline-flex items-center justify-center bg-white text-blue-600  px-4 py-2 rounded-lg hover:bg-blue-50 transition duration-200">
            <span class="material-symbols-outlined mr-2">visibility</span>Ver Consulta
            </button>
        </div>
    </div>
</div>

  <!-- Listados -->
<div class="flex flex-col md:flex-row gap-4 p-4 w-full">
  <app-listado-dashboard
    class="md:w-1/2"
    [titulo]="'Últimas Consultas'"
    [items]="dashboard.ultimas10Consultas"
    labelField="nombreCompleto"
    dateField="fecha"
    linkBase="/pacientes"
    verTodasLink="/pacientes"
    icon="keyboard_arrow_right"
  ></app-listado-dashboard>

  <app-listado-dashboard
    class="md:w-1/2"
    [titulo]="'Últimos Archivos'"
    [items]="dashboard.ultimos10Archivos"
    labelField="path"
    dateField="created_at"
    linkBase="/assets/uploads"
    icon="visibility"
  ></app-listado-dashboard>
</div>
